body {
  background-color: black;
  margin: auto;
}
#par {
  color: yellow;
}
h1 {
  color: azure;
  font-family: system-ui;
}
div {
  width: 50%;
  margin-top: 50px;
}
.adjust {
  margin-left: 40%;
}
p {
  color: blue;
  width: 0px;
}
.con1 {
  background-color: aquamarine;
  width: 106px;
}
